body {
  margin: 0;
  padding: 0;
  background-color: #faf9f8;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

.footer {
  background-color: #101929;
  min-height: 10vh;
  margin-top: auto;
  color: white;
  border-top: 2px solid #c9e265;
  display: flex;
  justify-content: center;
  align-items: center;
}
