{{ define "main" }}
  <div class="home-page">
    <div class="home-page-header">
      <div class="home-page-header-content">
        <img src="/images/logo.png" alt="Logo" />
        <div>
          <h1 id="carleton-coding-gym">Carleton Coding Gym</h1>
          <h2 id="gym-rules">Gym Rules</h2>
          <p><code>rule 1.</code> Work and share knowledge with the gym because more often than not, the crowd has someone else that has the knowledge you are missing, and vice versa. Nobody is better alone.
          (<a href="https://en.wikipedia.org/wiki/Wisdom_of_the_crowd">https://en.wikipedia.org/wiki/Wisdom_of_the_crowd</a>)</p>
          <p><code>rule 2.</code> Don&#39;t be afraid of voicing/sharing your ideas, the people often need some small part of wisdom or knowledge from you, the community reaps what you sow.</p>
          <p><code>rule 3.</code> Humble, everyone, no matter their histories, has some worthy thing to contribute to a mission/cause.</p>
          <p><code>rule 4.</code> Hark work, everyone, no matter their histories, or their perceived notion of strength in themselves, have something worthy to give and contribute to a mission/cause.</p>
          <p><code>Main Mantra Against Procrastination:</code>
          Self-awareness is the bane of progress.</p>
          <p><code>Explanation:</code> Questions about whether this is fun? Whether this is productive? Whether you can do this quickly so you can play more? Whether this is worth it? These are irrelevant things to the work needed to achieve results itself. Real work happens when you let go of your head from self-awareness. Real work happens when you stop planning for things to happen. A plan is very important, but once a plan is manifested, let go of your self-awareness, and trust in the plan.</p>
        </div>
        <div class="home-page-header-content-buttons">
          <button>Learn More</button>
          <span
            ><a href="#discordinvitehere"
              >Discord
              <i
                style="margin-left: 0.2rem"
                class="fas fa-external-link-alt"
              ></i></a
          ></span>
        </div>
      </div>
    </div>
    <div class="home-page-events">
      <!--
      {{ with $.Site.Data.events }}
        {{ range first 3 . }}
          <div class="event-card">
            <div>{{ .title }}</div>
            <div>{{ dateFormat "January 2, 2006" .start }}</div>
            <div>{{ .location }}</div>
          </div>
        {{ end }}
      {{ end }}
      -->
    </div>
    {{- partial "footer.html" . -}}
  </div>
{{ end }}
